<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Natural Language Project</title>
</head>

<body>

    <header>
        <div class="headline">
            Natural Language Processing
        </div>

    </header>

    <main>
        <section class="input">
            <form class="" onsubmit="return Client.handleSubmit(event)" method="post">
                <textarea class="flex_item" id="name" type="text" name="input" value=""
                    placeholder="Paste the text or URL here, that you want to be analysed."></textarea>
                <input class="button flex_item" type="submit" name="" value="analyse" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>
        <h2>Here are the Results:</h2>
        <section class="results">
            <article>
                <div id="confidence"></div>
                <div id="irony"></div>
                <div id="subjectivity"></div>
            </article>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    <script>
        if('serviceWorker' in navigator){
            window.addEventListener('load', () =>{
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>